html {
	font-size: 100.01%;
	overflow-y: scroll;
}

html,
body,
div,
span,
object,
iframe,
applet,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
tt,
s,
strike,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
	quotes: "�" "�" "�" "�" "�" "�" "�" "�";
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #666;
	color: #fff;
	text-decoration: none;
}

mark {
	background-color: #666;
	color: #fff;
}

input,
select,
textarea,
button {
	font-size: 100%;
	font-family: inherit;
}

input,
select {
	vertical-align: middle;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

a img {
	border: 0;
}

blockquote,
q {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
	content: none;
}

a:hover,
a:active,
{
outline: 0;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

del {
	text-decoration: line-through;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	margin: 1em 0;
	padding: 0;
}

pre,
code,
kbd,
samp {
	font-family: monospace, sans-serif;
}

html>body {
	font-size: 14px;
}

body {
	line-height: 1.5;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #aaaaaa;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #ffffff;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	line-height: 1.3;
}

h1 {
	font-size: 3.4285em;
}

h2 {}

h2.title {
	font-size: 0.8571em;
	text-transform: uppercase;
	color: #aaaaaa;
	margin: 0 0 1em 0;
}

h3 {}

h4 {}

h5 {}

h6 {}

a {
	background-color: transparent;
	text-decoration: underline;
	border-bottom: 0 none;
	cursor: pointer;
}

a:visited {}

a:hover,
a:active,
a:focus {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 0 none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 0 none;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 0 none;
}

p {
	margin: 0;
}

ul {
	margin-bottom: 1.2em;
}

ul ul {
	margin: 0.3em 0 0;
}

ul li {
	margin: 0 0 0.3em 0;
	padding-left: 15px;
}

ol {
	margin-bottom: 1.2em;
	list-style: decimal;
}

ol ol {
	margin: 0.3em 0 0;
}

ol li {
	margin: 0 0 0.3em 3.2em;
}

dl {
	margin: 0 0 1.2em;
}

dt {
	font-size: 117%;
	font-weight: bold;
}

dd {
	margin: 0 0 0.5em;
}

blockquote {
	border: 1px solid #f3f3f3;
	padding: 1em 1em 0;
	background: #f8f8f8;
}

blockquote p {
	margin-bottom: 1em;
}

address {
	margin-bottom: 0.8em;
	font-style: normal;
}

table {
	margin-bottom: 1em;
}

caption {
	padding: 1em 0 0.2em 0;
	font-size: 117%;
	font-weight: bold;
	color: #181818;
}

caption.forBlind {
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

th,
td {
	border-width: 1px;
	border-style: solid;
	border-color: #e3e3e3;
	padding: 10px 15px;
}

hr {
	height: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #e3e3e3;
}

small {
	font-size: 85%;
}

sup,
sub {
	font-size: 85%;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

ins {
	text-decoration: none;
}

form {
	margin-bottom: 1em;
}

fieldset {
	padding: 1px 0 0;
}

legend {
	padding: 0 0 0.5em 0;
	font-size: 0.91666666666666666666666666666667em;
	font-weight: bold;
	color: #515151;
	text-transform: uppercase;
}

legend.forBlind {
	height: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

form .entries {
	margin: 0 0 1em;
}

form p.submit {
	margin: 0 0 1.5em;
}

form p.checkbox {
	margin: 0 0 0.75em;
}

label,
form .label {
	color: #7b7b7b;
	display: block;
	line-height: 2em;
	font-size: 0.9166em;
	text-transform: uppercase;
}

.checkbox label,
form .checkbox .label,
.radioInline label {
	display: inline;
	text-transform: none;
	color: #4c4c4c;
}

input,
select,
textarea,
button {
	vertical-align: middle;
	outline: 0 none;
}

input[type="text"],
input[type="password"],
input.text,
select,
textarea,
button {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #000000;
	background-color: #efefef;
	line-height: 1.5;
}

input[type="text"],
input[type="password"],
input.text,
select,
textarea {
	border: 1px solid #717171;
	border-bottom-color: #d2d2d2;
	border-right-color: #d2d2d2;
	font-size: 1em;
	background: #efefef url('../images/input-bg.png') repeat-x 0 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input.text:focus,
select:focus,
textarea:focus {
	background: #fef4c3 url('../images/input-focus-bg.png') repeat-x 0 0;
}

.error input[type="text"],
.error input[type="password"],
.error input.text,
.error select,
.error textarea {
	border-color: #e00000;
}

input[type="text"],
input[type="password"],
input.text {
	width: 164px;
	padding: 7px 7px 6px;
	*padding: 6px 7px 7px;
	font-weight: bold;
}

button,
.button {
	border: 1px solid #bae0aa;
	border-bottom-color: #497236;
	border-right-color: #497236;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 10px;
	font-size: 0.91666em;
	font-weight: bold;
	background: #97d07d url('../images/button-1-bg.png') repeat-x 0 100%;
	cursor: pointer;
	=filter: chroma(color=#000000);
}

a.button {
	float: left;
	border: 1px solid #bae0aa !important;
	border-bottom-color: #497236 !important;
	border-right-color: #497236 !important;
	color: #fff !important;
	text-decoration: none !important;
	background: #97d07d url('../images/button-1-bg.png') repeat-x 0 100% !important;
}

select {
	padding: 7px 7px 6px 3px;
}

textarea {
	width: 571px;
	padding: 6px 7px 6px 7px;
	overflow: auto;
}

#content form .entries {
	float: left;
	width: 200px;
}

#content form .message {
	width: 100%;
}

#content form .submit {
	margin: 0;
	float: right;
	margin-top: 2em;
	padding-right: 20px;
}

#unsubscribe .entries {
	width: auto !important;
	margin: 0 !important
}

#unsubscribe .entries br {
	display: none;
}

.radioInline .groupLabel {
	display: block;
	color: #4C4C4C;
}

.radioInline .item {
	margin-left: 0;
}

.radioInline .item+.item {
	margin-left: 8px;
}

.radioInline input {
	margin: 0 2px 0 0;
}

.radioInline label {
	white-space: nowrap;
}

.cleaned:before,
.cleaned:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.cleaned:after {
	clear: both;
}

.cleaned {
	zoom: 1;
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.colLeft {
	float: left;
	width: 50%;
}

.colRight {
	float: right;
	width: 50%;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.invisible {
	visibility: hidden !important;
}

.forBlind {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.forBlind.focusable:active,
.forBlind.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.small {
	font-size: 85%;
}

.big {
	font-size: 117%;
}

.help {
	text-decoration: none;
	border-bottom: 1px dotted #7b7b7b;
	color: #7b7b7b;
	cursor: help;
}

.done {
	margin: 0 0 10px;
	color: #40b000;
}

.done .info {
	margin: 0 0 5px;
}

.done a {
	color: #40b000;
}

.warning {
	margin: 0 0 10px;
	color: #e00000;
}

.notice {
	margin: 0 0 20px;
	background: #fef4c3;
	padding: 6px 10px;
	color: #858585;
}

.tip {
	margin: 0 0 10px;
	color: #858585;
	font-style: italic;
	font-size: 11px;
	background: url("../images/icons.png") no-repeat scroll -625px -470px transparent;
	padding-left: 12px;
	padding-top: 1px;
}

.warning .info {
	margin: 0 0 5px;
}

.warning a {
	color: #e00000;
}

.confirm {
	margin: 0 0 10px;
	color: #e00000;
}

.confirm .info {
	margin: 0 0 5px;
}

.confirm a {
	color: #e00000;
}

.errors {
	margin: 0 0 10px;
}

.errors .item {
	margin: 0;
	padding: 0;
	background: 0;
}

.found {
	margin: 0 0 10px;
}

.notFound {
	margin: 0 0 10px;
}

.highlite {
	font-weight: bold;
}

.icon {
	position: relative;
	margin-left: 20px;
	text-decoration: none;
	*clear: expression(this.innerHTML='<img src="/images/icons.png" alt="" />' +this.innerHTML, this.runtimeStyle.clear='none', 0);
}

.icon:before,
.icon>img {
	content: url('../images/icons.png');
	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -15px;
	clip: rect(0 10px 10px 0);
	border: 0 none;
}

.overlaid {
	display: block;
	position: relative;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

noscript {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	font-weight: bold;
	background: #e00000;
	z-index: 15;
	text-align: center;
	padding: 14px 0;
}

#skypedetectionswf {
	display: none !important;
}

#cookiesPermission {
	position: fixed;
	display: none;
	left: 0;
	bottom: 0;
	border-top: 1px solid #fff;
	width: 100%;
	background: #FAD900;
	padding: 16px 0;
	color: #414143;
	z-index: 100;
}

#cookiesPermission .wrapper {
	width: 100%;
	max-width: 900px;
	display: block;
	position: relative;
	margin: 0 auto;
}

#cookiesPermission .text {
	font-size: 13px;
}

#cookiesPermission .text a {
	color: #E30E20;
}

#cookiesPermission .ok {
	float: right;
	margin-left: 50px;
	margin-top: 6px;
}

#cookiesPermissionBtn {
	border: none;
	border-radius: 15px;
	display: block;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 0 14px;
	text-decoration: none;
	background: rgb(84, 84, 84);
	background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(46, 49, 66, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(84, 84, 84, 1)), color-stop(100%, rgba(46, 49, 66, 1)));
	background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(46, 49, 66, 1) 100%);
	background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(46, 49, 66, 1) 100%);
	background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(46, 49, 66, 1) 100%);
	background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 0%, rgba(46, 49, 66, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#2e3142', GradientType=0);
}

#cookiesPermissionBtn:hover {
	background: #E30E20;
}

@media (max-width:900px) {
	#cookiesPermission .text {
		padding-left: 10px;
	}
}

html {
	height: 100%;
}

body {
	height: 100%;
}

body.dummy {
	background: #ffffff;
}

body.syspage {
	background: #ffffff;
}

body.syspage.nonpublic {
	background: #ffffff;
}

body.syspage.nonpublic #pageInner {
	margin-top: 240px;
}

body.empty {
	background: #ffffff;
	min-width: 1003px;
}

#wrap {
	font-size: 1em;
	line-height: 1.5;
	padding: 0 0 0;
	position: relative;
	z-index: 1;
	height: 100%;
	height: auto !important;
	min-height: 100%;
}

#pageA {
	position: relative;
	min-height: 100%;
}

#page {
	position: relative;
	padding: 1px 0 0 0;
	z-index: 1;
}

#pageInner {
	padding: 0;
	width: 983px;
	margin: 0 auto 0;
	padding: 1px 0 1px 0;
}

#reloadState {
	position: absolute;
	top: -1000px;
}

#copy {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 82%;
	margin: 20px 30px;
	z-index: 2;
}

#copy p {
	margin: 0;
}

#copy .text {
	font-size: 110%;
}

#copy .text .more {
	display: inline-block;
	background: url('../images/footer-text-bg.png') no-repeat 100% 0;
	padding-right: 9px;
	margin-left: 10px;
}

#copy .text .more span {
	display: inline-block;
	background: url('../images/footer-text-bg.png') no-repeat 0 0;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 9px;
	font-weight: normal;
	font-size: 90%;
	color: #ffffff;
}

body.nonpublic #copy,
body.nonpublic #copy a {
	color: #cccccc;
}

.external {
	position: relative;
	margin-right: 13px;
}

.external .ico {
	display: inline-block;
	vertical-align: middle;
	margin-right: -13px;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	background: url('../images/external.png') no-repeat 0 0;
}

#profile {
	width: 410px;
	margin: 0 0 190px 0;
	z-index: 2;
	position: relative;
}

#profile p {
	margin: 0 0 1em 0;
}

#profile ul {
	list-style-type: disc;
}

#profile li {
	padding-left: 2px;
	margin: 0 0 0.3em 2.0em;
}

.profileBox {
	position: relative;
	margin: 0 0 10px 0;
}

.profileBox .background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	=width: expression(this.parentNode.offsetWidth);
	=height: expression(this.parentNode.offsetHeight);
}

.profileBox .background.placeholder {
	height: 0;
	position: relative;
}

.profileBox .content {
	position: relative;
	z-index: 2;
	padding: 25px 30px;
	overflow: hidden;
}

#profileInfo .content {
	padding-bottom: 10px;
}

#profileInfo .name {
	margin: 0 0 0.4em 0;
	padding: 0 0 10px 0;
	line-height: 100%;
	width: 100%;
}

#profileInfo .name .inner {
	float: left;
}

#profileInfo .photo {
	float: left;
	padding: 1px;
	margin: 6px 16px 12px 0;
}

#profileInfo .photo img {
	display: block;
}

#profileInfo .location {
	margin: -11px 0 9px 0;
}

#profileInfo .perex {
	padding-bottom: 10px;
	margin-bottom: 0.2em;
	line-height: 130%;
}

#profileInfo #profileCurriculum {
	margin: 0.2em 0 26px 0;
	padding: 10px 0 0 0;
}

#profile .tabs {
	font-size: 85%;
	margin: 15px -30px 0 -30px;
	padding: 0 30px;
	font-weight: bold;
	position: relative;
	=border-bottom: 1px solid;
}

#profile .tabs li {
	cursor: pointer;
	padding: 0;
	margin: 0 0 0 6px;
	float: left;
	list-style: none;
	padding: 0 13px;
	border-bottom: 0 !important;
	position: relative;
	text-align: center;
}

#profile .tabs.ui-sortable li {
	cursor: move;
}

#profile .tabs li .inner {
	position: relative;
	display: block;
	margin: 0 2px;
	padding: 8px 0;
	overflow: hidden;
	white-space: nowrap;
}

#profile .tabs li .ico {
	display: none;
}

#profile .tabs.ui-sortable .ico {
	display: block;
	position: absolute;
	left: -6px;
	top: -6px;
	content: '';
	width: 14px;
	height: 13px;
	background: red;
	background: url('../images/icons.png') no-repeat -625px -570px;
}

#profile .tabs li:first-child {
	margin-left: 0;
}

.lang-sk #profile .tabs li {
	padding-left: 11px;
	padding-right: 11px;
}

#profile .tabs li.selected {
	background: none;
}

#profile .tabs li.selected:before,
#profile .tabs li.selected:after {
	content: " ";
	position: absolute;
	display: block;
	left: 100%;
	top: 100%;
	width: 500px;
	height: 1px;
}

#profile .tabs li.selected:after {
	right: 100%;
	left: auto;
}

#profile .tabContent {
	padding: 30px 0 15px 0;
}

#profileConnections .content {}

#profile .tabContent ul,
#profile .links ul {
	font-size: 90%;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

#profile .tabContent li,
#profile .links li {
	border: 0;
	padding: 0;
	margin: 0 0 0.4em 0;
}

#profile .tabContent li img,
#profile .links li img {
	vertical-align: middle;
	margin: 0 4px 0 0;
}

#profileConnections .content {}

#profile .contacts ul {
	font-size: 90%;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

#profile .contacts li {
	border: 0;
	padding: 0;
	margin: 0 0 0.4em 0;
}

#profile .contacts li img {
	vertical-align: middle;
	margin: 0 4px 0 0;
}

#profileCustom .title {
	font-size: 92%;
	margin: 0 0 1em 0;
	text-transform: none;
}

#profileSupport .content {
	padding-bottom: 30px;
}

#profileSupport .title {
	font-size: 92%;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

#profileSupportSlider {
	position: relative;
}

#profileSupportSlider .inner {
	width: 100%;
	position: relative;
	min-height: 80px;
	overflow: hidden;
}

#profileSupportSlider .items {
	position: absolute;
	left: 0;
	top: 0;
	width: 5000px;
}

#profileSupportSlider .group {
	float: left;
}

#profileSupportSlider .item {
	float: left;
	margin: 0 25px 0 0;
}

#profileSupportSlider .item img {
	max-width: 100%;
}

#profileSupportSlider .navi {
	position: absolute;
	right: 0;
	top: -25px;
}

#profileSupportSlider .navi a {
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 0 0 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	-moz-opacity: 0.5;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

#profileSupportSlider .navi a.active {
	-moz-opacity: 1;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

#profileServices .content {
	padding-bottom: 18px;
}

.socialLinks {
	margin: 0 -20px -9px 0 !important;
}

.tabContent .socialLinks {
	margin-bottom: -4px !important;
}

.socialLinks .item {
	padding: 5px;
	float: left;
	margin: 0 9px 9px 0;
	position: relative;
	outline: none;
}

.socialLinks .item img {
	position: relative;
	z-index: 2;
	display: block;
}

.socialLinks .item .bgr {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-moz-opacity: 0.2;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
}

.socialLinks .item.selected .bgr,
.socialLinks .item:hover .bgr {
	-moz-opacity: 0.8;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
}

.profileBox .nerban {
	width: 300px;
	margin: 0 auto;
	padding-bottom: 47px !important;
}

.profileBox .nerban .nerbanTitle {
	text-transform: uppercase;
	font-size: 85%;
	margin: 8px 0 3px 0 !important;
}

.profileBox .nerban object {
	display: block;
}

#socialPlugins {
	position: relative;
	width: 540px;
	margin: 0 0 120px 0;
	z-index: 1;
}

#socialPluginLoader {
	position: relative;
	width: 100%;
	height: 100px;
	display: block;
	background: url('../images/ajax-loader.gif') no-repeat 50% 50%;
}

#socialPlugins h3 {
	font-size: 0.8571em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 0 1em;
	margin: 0 0 1.55em 0;
	letter-spacing: 0.05em;
}

#socialPlugins .streamPosts {
	margin: -1.5em 0 1.5em;
}

#socialPlugins .streamPosts>li {
	margin: 0 0 0;
	padding: 1.5em 0 1.4em;
}

#socialPlugins .streamPosts>li:hover {
	margin: 0 -30px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	top: -1px;
	margin-bottom: -1px;
}

#socialPlugins .streamPosts>li:last-child:hover {
	margin-bottom: -2px;
}

#socialPlugins .streamPosts>li>p {
	margin: 1em 0;
}

#socialPlugins .streamPosts>li .title {
	margin: 0 0 0.5em;
}

#socialPlugins .streamPosts>li .message {
	margin-top: 0;
	margin-bottom: 0;
}

#socialPlugins .streamPosts>li .picture {
	margin-top: 1em;
	margin-bottom: 0;
	float: left;
	width: 90px;
	overflow: hidden;
	margin-right: 15px;
}

#socialPlugins .streamPosts>li .picture img {
	max-width: 90px;
}

#socialPlugins .streamPosts>li .text {
	margin-top: 1em;
	margin-bottom: 0;
	overflow: hidden;
	font-size: 0.78571428571428571428571428571429em;
}

#socialPlugins .streamPosts>li .name {
	display: block;
}

#socialPlugins .streamPosts>li .caption {
	display: block;
}

#socialPlugins .streamPosts>li .description {
	display: block;
	margin: 1em 0 0;
}

#socialPlugins .streamPosts>li .footer {
	margin: 0.5em 0 0 0;
	font-size: 0.78571428571428571428571428571429em;
}

#socialPlugins .streamPosts>li .footer .separator {}

#socialPlugins .streamPosts>li .footer .separator,
#socialPlugins .streamPosts>li .footer a,
#socialPlugins .streamPosts>li .footer .category,
#socialPlugins .streamPosts>li:hover .footer .date {
	margin: 0 3px 0 0;
}

#socialPlugins .streamPosts>li .footer .separator,
#socialPlugins .streamPosts>li .footer a,
#socialPlugins .streamPosts>li .footer .category {
	display: none;
}

#socialPlugins .streamPosts>li .footer a {
	margin: 0 5px 0 0;
}

#socialPlugins .streamPosts>li:hover .footer .date {}

#socialPlugins .streamPosts>li:hover .footer .separator,
#socialPlugins .streamPosts>li:hover .footer a,
#socialPlugins .streamPosts>li:hover .footer .category {
	display: inline;
}

#socialPlugins .linkProfile {
	margin-top: 1.5em;
	padding-top: 1.5em;
	font-size: 0.8571em;
}

#socialPlugins .galleries+.linkProfile {
	margin-top: 0.5em;
}

#socialPlugins .streamPosts+.linkProfile {
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}

#socialPlugins .streamPhotos {}

#socialPlugins .streamPhotos .photoBig {
	overflow: hidden;
	width: 480px;
	height: 425px;
	line-height: 425px;
	max-width: 100%;
	margin: 0 0 18px;
	position: relative;
	text-align: center;
}

body.mobile #socialPlugins .streamPhotos .photoBig {
	line-height: inherit !important;
	height: auto !important;
	overflow: visible;
}

#socialPlugins .streamPhotos .photoBig .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}

#socialPlugins .streamPhotos .photoBig .loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: url('../images/ajax-loader.gif') no-repeat 50% 50%;
}

#socialPlugins .streamPhotos .photoBig img {
	position: relative;
	vertical-align: middle;
	max-width: 100%;
}

#socialPlugins .streamPhotos .photoBig img.spacer {
	height: 425px;
	width: 0;
	vertical-align: middle;
}

body.mobile #socialPlugins .streamPhotos .photoBig img.spacer {
	height: 0;
}

#socialPlugins .streamPhotos .photoBig .prev,
#socialPlugins .streamPhotos .photoBig .next {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 35px;
	*clear: expression(this.innerHTML='<img src="/images/icons.png" alt="" />' +this.innerHTML, this.runtimeStyle.clear='none', 0);
	cursor: pointer;
	display: none;
}

#socialPlugins .streamPhotos .photoBig:hover .prev,
#socialPlugins .streamPhotos .photoBig:hover .next {
	display: block;
}

body.mobile #socialPlugins .streamPhotos .photoBig .prev,
body.mobile #socialPlugins .streamPhotos .photoBig .next {
	display: block;
	opacity: 0.5;
	width: 30px;
}

body.mobile #socialPlugins .streamPhotos .photoBig .prev {
	left: -30px;
}

body.mobile #socialPlugins .streamPhotos .photoBig .next {
	right: -30px;
}

#socialPlugins .streamPhotos .photoBig .prev {
	left: 0;
}

#socialPlugins .streamPhotos .photoBig .next {
	right: 0;
}

#socialPlugins .streamPhotos .photoBig .prev:before,
#socialPlugins .streamPhotos .photoBig .prev>img {
	content: url('../images/icons.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -633px;
	margin-top: -378px;
	clip: rect(370px 641px 386px 625px);
	border: 0 none;
}

#socialPlugins .streamPhotos .photoBig .next:before,
#socialPlugins .streamPhotos .photoBig .next>img {
	content: url('../images/icons.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -633px;
	margin-top: -428px;
	clip: rect(420px 641px 436px 625px);
	border: 0 none;
}

#socialPlugins .streamPhotos .info {
	margin: 0 0 1.4em;
}

#socialPlugins .streamPhotos .info h4 {
	float: left;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

#socialPlugins .streamPhotos .info .back {
	float: right;
	width: 230px;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.85714em;
}

#socialPlugins .streamPhotos .photos {
	margin: 0 -6px;
}

#socialPlugins .streamPhotos .photos li {
	float: left;
	width: 111px;
	height: 75px;
	overflow: hidden;
	margin: 0 6px 12px;
	padding: 0;
	position: relative;
	text-align: center;
}

#socialPlugins .streamPhotos .photos a {
	display: block;
	position: relative;
}

#socialPlugins .streamPhotos .photos img {
	display: inline;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}

#socialPlugins .streamPhotos .photos img.spacer {
	height: 75px;
	vertical-align: middle;
}

#socialPlugins .streamPhotos .photos .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
}

#socialPlugins .streamPhotos .photos li a:hover .frame,
#socialPlugins .streamPhotos .photos li.selected a .frame {
	border: 2px solid;
	width: 107px;
	height: 71px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

#socialPlugins .streamPhotos .galleries {
	margin: 0 -6px;
	font-size: 0;
}

#socialPlugins .streamPhotos li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 148px;
	margin: 0 6px 18px;
	padding: 0;
	font-size: 14px;
	vertical-align: top;
}

#socialPlugins .streamPhotos .preview {
	display: block;
	overflow: hidden;
	margin: 0 0 12px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

#socialPlugins .streamPhotos .preview a {
	position: relative;
	display: block;
	height: 148px;
	width: 148px;
	text-align: center;
}

#socialPlugins .streamPhotos .preview img {
	position: relative;
	display: inline;
	vertical-align: middle;
	z-index: 2;
}

#socialPlugins .streamPhotos .preview img.spacer {
	height: 148px;
	width: 0px;
	display: inline;
	vertical-align: middle;
}

#socialPlugins .streamPhotos .preview .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

#socialPlugins .streamPhotos .preview:hover .frame {
	z-index: 3;
	border: 2px solid;
	position: absolute;
	width: 144px;
	height: 144px;
	left: 0;
	top: 0;
}

#socialPlugins .streamPhotos .caption {
	display: block;
	font-size: 0.8571em;
}

#socialPlugins .streamPhotos .caption .name {
	display: block;
	margin: 0 0 0.25em;
}

#socialPlugins .streamPhotos .caption .name:hover {}

#socialPlugins .streamPhotos .caption .date {
	display: block;
	font-size: 0.9166em;
	margin: 0 0 0.25em;
}

#socialPlugins .streamPhotos .caption .count {
	display: block;
	font-size: 0.9166em;
	margin: 0;
}

#socialPlugins .streamVideos {}

#socialPlugins .streamVideos .videoBig {
	overflow: hidden;
	width: 480px;
	max-width: 100%;
	margin: 0 0 24px;
	position: relative;
}

#socialPlugins .streamVideos .videoBig object,
#socialPlugins .streamVideos .videoBig embed {
	max-width: 100%;
}

#socialPlugins .gallerySlider {
	position: relative;
	padding-bottom: 35px;
}

#socialPlugins .gallerySlider .inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 120px;
}

#socialPlugins .gallerySlider .items {
	position: absolute;
	left: 0;
	top: 0;
	width: 2000px;
}

#socialPlugins .gallerySlider .group {
	float: left;
}

#socialPlugins .gallerySlider .item {
	float: left;
	width: 150px;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0 15px 0 0;
}

#socialPlugins .gallerySlider .item .preview {}

#socialPlugins .gallerySlider .item .caption {
	font-size: 90%;
}

#socialPlugins .gallerySlider .control {
	cursor: pointer;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
}

#socialPlugins .gallerySlider .control.disabled {
	text-decoration: none;
}

#socialPlugins .gallerySlider .control:hover {
	text-decoration: none;
}

#socialPlugins .gallerySlider .control.prev {
	left: 0;
}

#socialPlugins .gallerySlider .control.next {
	right: 0;
}

#socialPlugins .gallerySlider .navi {
	position: absolute;
	left: 50%;
	bottom: 3px;
}

#socialPlugins .gallerySlider .navi a {
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	-moz-opacity: 0.5;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

#socialPlugins .gallerySlider .navi a.active {
	-moz-opacity: 1;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

#socialPlugins #serviceTwitter .profile {
	margin: 0 0 1.5em;
}

#socialPlugins #serviceTwitter .profile .picture {
	float: left;
	margin: 0.3em 20px 0.5em 0;
	width: 75px;
}

#socialPlugins #serviceTwitter .profile .info {
	overflow: hidden;
}

#socialPlugins #serviceTwitter .profile .screenName {
	font-size: 1.2857em;
	margin: 0 0 0.1em;
}

#socialPlugins #serviceTwitter .profile .screenName a {
	text-decoration: none;
}

#socialPlugins #serviceTwitter .profile .userName {
	margin: 0 0 0em;
}

#socialPlugins #serviceTwitter .profile .location {
	font-size: 0.8571em;
	margin: 0 0 1em;
}

#socialPlugins #serviceTwitter .profile .description {
	font-style: italic;
}

#socialPlugins #serviceLinkedin {
	padding-bottom: 0;
}

#socialPlugins #serviceLinkedin .profile,
#socialPlugins #serviceLinkedin .summary,
#socialPlugins #serviceLinkedin .specialties,
#socialPlugins #serviceLinkedin .experience,
#socialPlugins #serviceLinkedin .education,
#socialPlugins #serviceLinkedin .others {
	margin: 0 0 36px 0;
}

#socialPlugins #serviceLinkedin .profile .picture {
	float: left;
	margin: 0.3em 20px 0.5em 0;
}

#socialPlugins #serviceLinkedin .profile .info {
	overflow: hidden;
}

#socialPlugins #serviceLinkedin .profile .screenName {
	font-weight: bold;
	font-size: 120%;
	margin: 0 0 6px 0;
}

#socialPlugins #serviceLinkedin .profile .job {
	margin: 0 0 4px 0;
}

#socialPlugins #serviceLinkedin .profile .field {
	font-size: 85%;
}

#socialPlugins #serviceLinkedin .summary {
	font-size: 120%;
	font-weight: bold;
}

#socialPlugins #serviceLinkedin .summary+.specialties {
	margin-top: -22px;
}

#socialPlugins #serviceLinkedin .specialties .title {
	font-style: italic;
}

#socialPlugins #serviceLinkedin .experience .item,
#socialPlugins #serviceLinkedin .education .item {
	margin: 0 0 16px 0;
}

#socialPlugins #serviceLinkedin .experience .date {
	font-size: 85%;
	margin: 0 0 4px 0;
}

#socialPlugins #serviceLinkedin .experience .job,
#socialPlugins #serviceLinkedin .education .school {
	font-weight: bold;
}

#socialPlugins #serviceLinkedin .others .item {
	margin: 0 0 16px 0;
}

#socialPlugins #serviceLinkedin .others .type {
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
}

#socialPlugins #serviceRajce .streamPhotos .preview {
	min-height: 120px;
	line-height: 120px;
}

#socialPlugins #serviceRajce .streamPhotos .preview:hover .frame {
	width: 144px;
	height: 144px;
}

#socialPlugins #serviceMixcloud .profile {
	margin: 0 0 1.5em;
}

#socialPlugins #serviceMixcloud .profile .picture {
	float: left;
	margin: 0.3em 20px 0.5em 0;
	width: 75px;
}

#socialPlugins #serviceMixcloud .profile .info {
	overflow: hidden;
}

#socialPlugins #serviceMixcloud .profile .userName {
	margin: 0 0 0em;
}

#socialPlugins #serviceMixcloud .profile .location {
	font-size: 0.8571em;
	margin: 0 0 1em;
}

#socialPlugins #serviceMixcloud .profile .description {
	font-style: italic;
}

#socialPlugins #serviceMixcloud .songs,
#socialPlugins #serviceMixcloud .sets {
	margin-top: -5px;
	margin-bottom: 25px;
}

#socialPlugins #serviceMixcloud .songs li,
#socialPlugins #serviceMixcloud .sets li {
	margin: 0 0 0.3em 0;
	padding: 0;
}

#socialPlugins #serviceMixcloud .songs li .picture,
#socialPlugins #serviceMixcloud .sets li .picture {
	float: left;
	margin: 0 15px 0 0;
}

#socialPlugins #serviceMixcloud .songs li .picture img,
#socialPlugins #serviceMixcloud .sets li .picture img {
	max-width: 34px;
}

#socialPlugins #serviceMixcloud .songs li .name,
#socialPlugins #serviceMixcloud .sets li .name {
	float: left;
	width: 350px;
}

#socialPlugins #serviceMixcloud .songs li .name,
#socialPlugins #serviceMixcloud .sets li .name,
#socialPlugins #serviceMixcloud .songs li a.play,
#socialPlugins #serviceMixcloud .sets li a.play {
	margin-top: 5px;
}

#socialPlugins #serviceMixcloud .songs .more,
#socialPlugins #serviceMixcloud .sets .more {
	display: none;
	padding-left: 0.8em;
	font-size: 95%;
	-moz-opacity: 0.7;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}

#socialPlugins #serviceMixcloud .songs li a.play,
#socialPlugins #serviceMixcloud .sets li a.play {
	float: right;
}

#socialPlugins #serviceMixcloud .songs li a.icoPlay,
#socialPlugins #serviceMixcloud .sets li a.icoPlay {
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: 100% 0.25em;
}

#socialPlugins #serviceMixcloud .streamPosts {
	margin-bottom: 0;
}

#socialPlugins #serviceMixcloud .streamPosts li {
	padding-top: 1.3em;
	padding-bottom: 1.1em;
}

#socialPlugins #serviceMixcloud .streamPosts .picture {
	margin-top: 0.3em;
	width: 50px;
	margin-bottom: 0.3em;
}

#socialPlugins #serviceMixcloud .linkProfile {
	margin-top: -1px;
	border-top: 0;
}

#socialPlugins #serviceLastfm .profile {
	margin: 0 0 1.5em;
}

#socialPlugins #serviceLastfm .profile .picture {
	float: left;
	margin: 0.3em 20px 0.5em 0;
	width: 126px;
}

#socialPlugins #serviceLastfm .profile .picture img {
	max-width: 126px;
}

#socialPlugins #serviceLastfm .profile .info {
	overflow: hidden;
}

#socialPlugins #serviceLastfm .profile .userName {
	margin: 0 0 0.4em 0;
}

#socialPlugins #serviceLastfm .profile .location {
	font-size: 0.8571em;
	margin: 0 0 1em;
}

#socialPlugins #serviceLastfm .profile .plays {
	font-style: italic;
}

#socialPlugins #serviceLastfm .profile .plays span {
	font-weight: bold;
}

#socialPlugins #serviceLastfm .songs {
	margin-top: -5px;
	margin-bottom: 25px;
}

#socialPlugins #serviceLastfm .songs li {
	margin: 0 0 0.3em 0;
	padding: 0;
}

#socialPlugins #serviceLastfm .songs li .picture {
	margin: 0 15px 0 0;
}

#socialPlugins #serviceLastfm .songs li .picture img {
	width: 34px;
	height: 34px;
	vertical-align: middle;
}

#socialPlugins #serviceLastfm .songs li .name {}

#socialPlugins #serviceLastfm .songs li .name:before {}

#socialPlugins #serviceLastfm .songs li .icoPlay {
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: 100% 0.08em;
	margin-right: 2px;
}

#socialPlugins #serviceLastfm .songs li .artist a {
	color: inherit;
	text-decoration: none;
}

#socialPlugins #serviceLastfm .songs li .count {
	float: right;
	font-size: 85%;
	-moz-opacity: 0.7;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	padding-top: 0.6em;
}

#socialPlugins #serviceLastfm .songs .more {
	font-size: 95%;
	display: none;
}

#socialPlugins #serviceLastfm .streamPosts {
	margin-bottom: 0;
}

#socialPlugins #serviceLastfm .streamPosts li {
	padding-top: 1.3em;
	padding-bottom: 1.1em;
}

#socialPlugins #serviceLastfm .streamPosts .author {
	font-style: italic;
}

#socialPlugins #serviceLastfm .linkProfile {
	margin-top: -1px;
	border-top: 0;
}

.systemPage {
	width: 400px;
	padding: 20px 30px 10px 30px;
	margin: 0 auto;
	background: #ffffff;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #101010;
	font-size: 87%;
}

.systemPage p {
	margin: 0 0 1em 0;
}

.systemPage a {
	color: #e00000;
}

.systemPage .sysTitle {
	color: #e00000;
	text-transform: none;
	font-size: 150%;
	font-weight: bold;
	margin: 0 0 0.6em 0;
}

.systemPage .perex {
	font-weight: bold;
}

.systemPage>.links {
	border-top: 1px solid #cccccc;
	padding-top: 1em;
	margin-top: 1.2em;
}

.systemPage>.links a {
	position: relative;
	padding-left: 16px;
}

.systemPage>.links a:before {
	width: 12px;
	height: 16px;
	position: absolute;
	display: block;
	content: '';
	background: url('../images/icons.png') no-repeat -650px -215px;
}

body.nonpublic .systemPage {
	width: 292px;
	margin: 0 0 0 600px;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #ffffff;
	font-size: 95%;
}

body.nonpublic .systemPage .sysTitle {
	color: #ffffff;
}

body.nonpublic .systemPage a {
	color: #ffffff;
}

body.nonpublic .systemPage>.links {
	border-top-color: #a8a7a8;
}

#newPassword {
	margin: 0;
}

#newPassword legend {
	color: #e00000;
	text-transform: none;
	font-size: 150%;
	font-weight: bold;
}

#newPassword .helper {
	font-size: 90%;
	margin-bottom: 16px;
}

#newPassword .entries br {
	display: none;
}

#newPassword .button {
	color: #ffffff;
}

#supervaclavRennab {
	background: #ffffff url('../images/supervaclav-rennab.jpg') no-repeat 0 0;
	height: 502px;
	width: 899px;
	position: relative;
	border: 2px solid #a8a7a8;
}

#rennabLinkClose {
	position: absolute;
	left: 266px;
	top: 413px;
	width: 316px;
	height: 35px;
	background: url('../images/supervaclav-rennab.jpg') no-repeat -266px -413px;
}

#rennabLinkMore {
	height: 47px;
	left: 608px;
	position: absolute;
	top: 409px;
	width: 256px;
	background: url('../images/supervaclav-rennab.jpg') no-repeat -608px -409px;
}

#rennabClose {
	height: 55px;
	left: 747px;
	position: absolute;
	top: 0;
	width: 150px;
	background: url('../images/supervaclav-rennab.jpg') no-repeat -747px 0;
}

#videoGuide {
	margin-left: 613px;
	margin-top: 375px;
}

.init,
.initHtml {
	margin: 10px 0;
	padding: 20px;
}

.initHtml {
	background-color: #eee;
	border-radius: 5px;
}

#Help .markdownTitle {
	text-decoration: underline;
}

.initMarkdown {
	border: 1px solid #eee;
	border-radius: 5px;
}

.htmlCompiled {
	margin: 20px 0;
}

.printBody {
	margin: 25px 0 50px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 50px;
}

.lt {
	color: #009900;
}