/**********************************************************************


	LAYOUT


**********************************************************************/

#shareBar {
	display: none;
}

#userBar {
	background-color: #ea030a;
}

body {
	background-color: #ffffff;
}

#profile {
	float: left;
}

#socialPlugins {
	float: right;
}

#wrap,
#page {
	min-width: 1113px;
}

#pageInner {
	width: 1113px;
	margin: 80px auto 10px auto;
	position: relative;
	left: auto;
	top: auto;
}

#profile {
	width: 540px;
}

#socialPlugins {
	width: 540px;
}


/**********************************************************************


	COMMON


**********************************************************************/


#profile a,
#socialPlugins a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #ffcc00;
	border-color: #ffcc00;
}

#profile a:focus,
#socialPlugins a:focus {
	outline: 1px dotted #ffd200;
}

.external .ico {
	background-image: url('/images/external/external-quality-100-level-colors-rgb-255-204-0-channel-alpha-evaluate-divide-2.png');
}

.icoPlay {
	background-image: url('/images/play/play-quality-100-level-colors-rgb-255-204-0.png');
}

#profile .tabs,
#profile .tabContent,
#socialPlugins,
#socialPlugins h3,
#profileCustom,
#profileLinks {
	font-family: 'Arial';
}

#profile .tabs,
#profile .tabContent {
	font-size: 10px;
}

#socialPlugins {
	font-size: 12px;
}



/**********************************************************************


	BOXES


**********************************************************************/

.profileBox .background {
	background-color: #141414;
	-moz-opacity: 0.77;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=77)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77);
	opacity: 0.77;
}

.profileBox .background {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/**********************************************************************


	PROFILE INFO


**********************************************************************/

#profileInfo .photo {
	margin: 6px 16px 12px 0;
	border: 1px solid #a6a6a6;
	border: 1px solid rgba(166, 166, 166, 0.77);
}

#profileInfo .name {
	font-family: 'Play';
	color: #e6e5e1;
	font-size: 50px;
}

#profileInfo .perex {
	font-family: 'Arial';
	color: #ffffff;
	/*
	border-bottom: 1px solid #a6a6a6;
	border-bottom: 1px solid rgba(166,166,166,0.77);
	*/
	font-size: 22px;
}

#profileInfo #profileCurriculum {
	border-top: 1px dotted #a6a6a6;
	border-top: 1px dotted rgba(166, 166, 166, 0.77);
}

#profile .tabs {
	border-color: #ffcc00;
}

#profile .tabs li {
	border: 1px solid #ffcc00;
	background: #ffcc00;
	color: #141414;
}

#profile .tabs li.selected {
	color: #ffcc00;
}

#profile .tabs li.selected:before,
#profile .tabs li.selected:after {
	background: #ffcc00;
}

#profile #profileCurriculum .curriculum,
#profile .location {
	font-family: 'Arial';
	color: #a3a3a3;
	font-size: 14px;
}

#profile .tabContents {
	color: #a3a3a3;
}

/**********************************************************************


	SOCIAL LINKS


**********************************************************************/

.socialLinks .item .bgr {
	background: #a3a3a3;
}

/**********************************************************************


	CUSTOM CONTENT


**********************************************************************/

#profileCustom .title {
	font-family: 'Arial';
	color: #ffffff;
}

#profileCustom .content {
	font-family: 'Arial';
	color: #a3a3a3;
}


/**********************************************************************


	PROFILE SUPPORT


**********************************************************************/

#profileSupport .title {
	font-family: 'Arial';
	color: #ffffff;
}

#profileSupportSlider .navi a {
	background: #ffcc00;
}




/**********************************************************************


	SOCIAL PLUGINS


**********************************************************************/

#socialPlugins {
	color: #ffffff;
}

#socialPlugins h1,
#socialPlugins h2,
#socialPlugins h3,
#socialPlugins h4,
#socialPlugins h5 {
	color: #ffffff;
}

#socialPlugins h3 {
	color: #ffffff;
	border-bottom: 1px dotted #a6a6a6;
	border-bottom: 1px dotted rgba(166, 166, 166, 0.77);
}

#socialPlugins .linkProfile {
	border-top: 1px solid #a6a6a6;
	border-top: 1px solid rgba(166, 166, 166, 0.77);
}

#socialPlugins #serviceLinkedin .profile .screenName,
#socialPlugins #serviceLinkedin .profile .field,
#socialPlugins #serviceLinkedin .experience .date,
#socialPlugins #serviceLinkedin .experience .company {
	color: #ffcc00;
}


/**********************************************************************


	STREAM


**********************************************************************/

#socialPlugins .streamPosts>li {
	border-bottom: 1px solid #a6a6a6;
	border-bottom: 1px solid rgba(166, 166, 166, 0.77);
}

#socialPlugins .streamPosts>li:hover {
	color: #ffffff;
	background: #141414;
	border-top: 1px solid #a6a6a6;
	border-top: 1px solid rgba(166, 166, 166, 0.77);
}

#socialPlugins .streamPosts>li .footer {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.5);
}

#socialPlugins .streamPosts>li .footer .separator {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.4);
}

#socialPlugins .streamPosts>li:hover .footer .date {
	color: #ffffff;
}


/**********************************************************************


	(VIDEO) GALLERY SLIDER


**********************************************************************/

#socialPlugins .gallerySlider .control {
	color: #ffcc00;
}

#socialPlugins .gallerySlider .control.disabled {
	color: #ffffff;
}

#socialPlugins .gallerySlider .navi a {
	background: #ffcc00;
}


/**********************************************************************


	GALLERIES


**********************************************************************/

#socialPlugins .streamPhotos .preview .bg {
	background-color: #141414;
	-moz-opacity: 0.513333333333;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=51.3333333333)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=51.3333333333);
	opacity: 0.513333333333;
}

#socialPlugins .streamPhotos .caption .date {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.5);
}

#socialPlugins .streamPhotos .photoBig .bg,
#socialPlugins .streamPhotos .photos .bg {
	background-color: #141414;
	-moz-opacity: 0.513333333333;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=51.3333333333)';
	=filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=51.3333333333);
	opacity: 0.513333333333;
}

#socialPlugins .streamPhotos .photoBig .prev,
#socialPlugins .streamPhotos .photoBig .next {
	background: #ffffff;
}

#socialPlugins .streamPhotos .photos li:hover,
#socialPlugins .streamPhotos .photos li.active,
#socialPlugins .streamPhotos .preview:hover .frame,
#socialPlugins .streamPhotos .photos li a:hover .frame,
#socialPlugins .streamPhotos .photos li.selected a .frame {
	border-color: #ffffff;
}

#socialPlugins .streamPhotos .caption .date {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.5);
}

#socialPlugins .streamPhotos .caption .name:hover {
	color: #ffffff;
}

/**********************************************************************


	FOOTER


**********************************************************************/

#copy,
#copy a {
	color: rgb(255, 255, 255);
}


/**********************************************************************


	RELOAD CHECK


**********************************************************************/

#reloadState {
	content: '1413784408371';
	background-image: url('/images/blank.png?ts=1413784408371');
}