body {
	line-height: 1.5;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #aaaaaa;
    background-color: white;
	margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1rem;
}

.card {
    background-color: #4a4a4a;
    padding: 2rem;
    border-radius: .75rem;
}

.card > * {
    margin: 0;
}

.card h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: #e6e5e1;
}

.card .location {
    font-size: 0.86rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.card .perex {
    margin-top: 1rem;
    color: #e6e5e1;
    font-size: 1.5rem;
}


.card .registration {
    border-top: 1px dotted #aaaaaa;
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 0.75rem;
}

.nowrap {
    white-space: nowrap;
}

@media only screen and (max-device-width: 480px) {
    .card h1 {
        font-size: 1.5rem;
    }
}